ACCESS_TOKEN_EXPIRE_MINUTES=
ALGORITHM=
APP_NAME=
CHROMA_PERSIST_DIRECTORY=
DATABASE_URL=
DEBUG=
GOOGLE_API_KEY=
HF_TOKEN=
HOST=
LOG_LEVEL=
OPENAI_API_KEY=
SECRET_KEY=
VITE_API_BASE_URL=
VITE_GEMINI_API_KEY=